doctype html
html(lang = "en")
  head
    meta(charset = "utf-8")
    meta(http-equiv = 'X-UA-Compatible', content = ' IE=edge , chrome=1 ')
    title Login Form

  body
    section.container
       .login

           h1  Login to Web Application
           form(method='POST', action='http://localhost:2000/v1/users/login')
             p
               input(type='text', name='userName', value='', placeholder='User Name')
             p
               input(type='text', name='password', value='', placeholder='Password')
             p
               input(type='submit', name='', value='Login')
             
